<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Issue Tracker</title>
</head>
<body>
    <div class="main-container" >
        <div class="heading">
            <h2>Issue Tracker</h2>
            <button class="form-opener btn-with-hover-effect">Add Project</button>
        </div>
        <!-- form -->
        <div class="form-container">
            <form action="/addNewProject" method="POST">
                <input type="text" name="project" placeholder="Project name" class="curved-border" required>
                <input type="text" name="desc" placeholder="Description" class="curved-border" required>
                <input type="text" name="author" placeholder="Author" class="curved-border" required>
                
                <button type="submit" class="curved-border btn-with-hover-effect">Add Project</button>
            </form>
        </div>
        <!-- list of projects -->
        <div class="list-container">
            <ul type="none">
                <%for(let i of stored_projects){%>
                    <li>
                        <div class="name-of-project"><%=i.nameOfProject%></div>
                        <a href="/details/?id=<%= i.id%>"><button class="btn-with-hover-effect" style="width: 90%;">Details</button></a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</body>
<script src="/js/home.js"></script>
</html>